{% extends 'students/base.html' %}

{% block nav%}
{% if request.user.is_staff %}
<a class="navbar-brand" href="{% url 'students:index'  %}">NCAT SIS</a>
{% endif %}
{% if request.user.profile.id == profile.id %}
<a class="navbar-brand" href="{% url 'students:detail' request.user.profile.id %}">NCAT SIS</a>
{% endif %}
{% endblock %}
{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if profiles_list %}
{% if request.user.is_staff %}
<div class="container">
      <div class="row justify-content-center">
        <div class="card">

  <h5 class="card-header info-color white-text text-center py-8">
    <strong>Students</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">
    <ul>
      {% for profile in profiles_list %}
          {% if profile.user.first_name != '' %}
          {% if profile.role == 1 %}
          <li><a href="{% url 'students:detail' profile.id %}">Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</a></li>
          {% endif %}
          {% endif %}
      {% endfor %}
    </ul>
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit"  class="btn btn-success" name="button"><a href="{% url 'students:register' %}">Add Student</a></button>
    </div>
  </div>
</div>
</div>
</div>

  {% else %}
    <p>You are not authorized to view this page. <a href="{% url 'students:detail' request.user.profile.id %}">Go to Profile</a></p>

{% endif %}
{% endif %}
{% endblock %}
